/* -- Them style -- */

.them_page {
  font-family: "times new roman";
  color: #333333;
}
* {
  text-decoration: none;
  color: black;
  font-family: "times new roman";
  margin: 0px;
}
.logo_image {
  max-width: 25%;
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: gray;
}

p {
  color: #1c1c1c;
  padding-top: 14px;
  font-size: 20px;
  font-style: normal;
}

/* -- hamburger menu -- */
#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20 px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #333333;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}

.nav li a {
  color: #555555;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.nav li {
  list-style: none;
  padding: 16px 0;
}

.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3 ease;
  display: none;
}

.change .bar {
  background-color: #555555;
}
.change #bar1 {
  transform: translateY(4px) rotate(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

/* ---- pages ---- */
.coverimg {
  background-position: center;
  background-size: cover;
  width: 404px;
  margin-bottom: 0px;
  border: 5px solid black;
}
.coverimgtekst,
.konkurancetext,
.konkurancetext2,
.om_os,
.Register_form {
  display: block;
  width: 404px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.treatment {
  display: block;
  width: 404px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.coverimgtekst h1,
.konkurancetext2 h1,
.products h1 {
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}

.coverimgtekst h2,
.konkurancetext p,
.konkurancetext2 p,
.om_os p,
.omosbutton,
.treatment p,
.products p,
.heading p {
  color: black;
  text-align: left;
  font-weight: unset;
  font-size: 20px;
  margin: 0;
}

.konkurancetext h2,
.om_os h2,
.Register_form h2,
.treatment h2 {
  color: black;
  text-align: center;
  font-weight: unset;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.competitionimg,
.product_img {
  background-position: center;
  width: 404px;
  border: 5px solid black;
  margin-top: 0;
}

.deltagnubutton,
.produktbutton,
.omosbutton,
.treatmentbutton {
  color: black;
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 10px 140px;
  border: 1px solid #260bbb;
  flex-direction: column;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 404px;
  height: 300px;
  border: 5px solid black;
}

.mySlides {
  display: none;
}

.mySlides:first-child {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-section {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.form {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 757px;
}

/* ---- footer ---- */
footer {
  bottom: 0px;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}
.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
/* -højre box skrives her-- */
.left .content .some {
  margin: 20px 0 0 0;
}

.left .content .some a {
  padding: 0 2px;
}

.left .content .some a span {
  height: 40px;
  width: 40px;
  background: #11aa11;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .some a span:hover {
  background: #f12020;
}

/* produkts */
.container {
  box-sizing: border-box;
  width: 90%;
  margin-left: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.card {
  margin-top: 10px;
  width: 404px;
  background-color: #fff;
  border: 1px solid black;
  margin-bottom: 50px;
  transition: 0.3s;
}

.product-img {
  height: 300px;
  text-align: center;
  margin-left: 110px;
}

.card-body {
  padding: 2px 20px;
  text-align: center;
  font-size: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* -------------- media query tablet --------------- */
@media screen and (max-width: 950px) and (min-width: 672px) {
  .menu {
    display: hidden;
  }

  #bar1 {
    display: none;
  }
  #bar2 {
    display: none;
  }
  #bar3 {
    display: none;
  }

  .nav {
    display: inline-block;
    justify-content: space-around;
    display: flex;
  }
  .navigation_element {
    display: flex;
    justify-content: space-around;
  }
  /**/
  .coverimg,
  .competitionimg,
  .product_img {
    position: relative;
    width: 757px;
  }

  .produktbutton {
    margin: 10px 48px;
    text-align: center;
  }

  .coverimgtekst {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 35%;
    margin: 0 auto;
    height: 230px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .konkurancetext {
    position: absolute;
    top: 76%;
    right: 3%;
    width: 50%;
    margin: 0 auto;
    height: 150px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .om_os {
    display: block;
    width: 757px;
    margin: 5px 0px 5px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .deltagnubutton {
    margin: 10px 130px;
  }

  .slideshow-container img {
    width: 757px;
    height: 420px;
    border: 5px solid black;
  }

  .konkurancetext2 {
    position: absolute;
    top: 19%;
    right: 3%;
    width: 50%;
    margin: 0 auto;
    height: 103px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .Register_form,
  .treatment {
    display: block;
    width: 757px;
    margin: 5px 0px 5px 5px;
  }

  .form-subject {
    font-size: 20px;
    padding-top: 20px;
    font-style: normal;
  }

  .treatmentbutton {
    margin: 10px 250px;
  }

  .product-img {
    height: 300px;
    text-align: center;
    margin-left: 80px;
  }

  .products p {
    display: block;
  }

  .container {
    width: 740px;
    margin-left: 15px;
  }

  .card {
    width: 40%;
  }

  .footer-content {
    flex-direction: row;
  }
}

/* ------- media query (ipad pro +) laptop --------- */
@media screen and (min-width: 950px) {
  .menu {
    display: hidden;
  }

  #bar1 {
    display: none;
  }

  #bar2 {
    display: none;
  }

  #bar3 {
    display: none;
  }

  .nav {
    display: inline-block;
    justify-content: space-around;
    display: flex;
  }
  .navigation_element {
    display: flex;
    justify-content: space-around;
  }

  header {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
  }

  .coverimg,
  .competitionimg,
  .product_img {
    position: relative;
    width: 1000px;
    float: none;
    display: block;
    margin: 0 auto 5px auto;
  }

  .coverimgtekst {
    position: absolute;
    top: 60%;
    right: 20%;
    width: 25%;
    margin: 0 auto;
    height: 180px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .produktbutton {
    margin: 10px 100px;
    text-align: center;
  }

  .konkurancetext {
    position: absolute;
    top: 150%;
    right: 20%;
    width: 30%;
    margin: 0 auto;
    height: 160px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .deltagnubutton {
    margin: 10px 190x;
  }

  .om_os {
    display: block;
    width: 1000px;
    align-items: center;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .omosbutton {
    margin: 10px 400px;
  }

  .slideshow-container img {
    width: 1000px;
    height: 650px;
    border: 5px solid black;
  }

  .konkurancetext2 {
    position: absolute;
    top: 45%;
    right: 20%;
    width: 30%;
    margin: 0 auto;
    height: 103px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .Register_form,
  .treatment {
    display: block;
    align-items: center;
    margin: auto;
    width: 1000px;
    margin-bottom: 5px;
  }

  .form {
    margin: 10px auto 10px auto;
    width: 1000px;
  }

  .form-subject {
    font-size: 20px;
    padding-top: 20px;
    font-style: normal;
  }

  .treatmentbutton {
    margin: 10px 250px;
  }

  .heading {
    display: block;
    width: 1000px;
    align-items: center;
    margin: auto;
  }

  .product-img {
    height: 300px;
    text-align: center;
    margin-left: 135px;
  }

  .products p {
    display: block;
  }

  .container {
    width: 100%;
  }

  .card {
    width: 29%;
  }

  .footer-content {
    flex-direction: row;
  }
}
